# ignore all hidden files
.*
# except
!.gitignore
!.gitattributes
!.github/
!.pre-commit-config.yaml
!.copier-answers.yml

# Python
__pycache__
*.py[cod]
*$py.class

*~
*egg-info*
.DS_Store
docs/_build/
build/
dist/
MANIFEST

# WebDAV file system cache files
.DAV/

# tags files (from ctags)
tags

.coverage*

# notebook stuff
*.ipynb_checkpoints*
